---
// @ts-ignore
import { Icon } from "astro-icon/components";

const receivers = [
  {
    title: "Kuratoru atlasīti piedāvājumi",
    description:
      "Saņem tikai labākos piedāvājumus no veikaliem un pakalpojumu sniedzējiem. Iepazīsti jaunus produktus un speciālistus.",
    icon: "bx:bxs-store",
  },
  {
    title: "Nenodod savu privātumu",
    description:
      "Aizmirsti par mēstulēm, jo tava e-pasta adrese būs pieejama tikai mums, nevis visiem piedāvājumu sniedzējiem.",
    icon: "bx:bxs-discount",
  },
  {
    title: "Atraksties jebkurā laikā",
    description:
      "Ja vairs nevēlēsies saņemt piedāvājumus, jebkurā laikā varēsi atrakstīties no vēstuļu saņemšanas ar vienu klikšķi.",
    icon: "bx:bxs-envelope",
  },
  
];

const givers = [
  {
    title: "Palielini pārdošanas apjomus",
    description:
      "Uzrunā jaunus klientus, kas iepriekš nezināja par tavu piedāvājumu.",
    icon: "bx:cart-add",
  },
  {
    title: "Atvieglo savu e-pasta mārketingu",
    description:
      "Tev vairs nebūs nepieciešams meklēt savu e-pasta mārketinga risinājumu.",
    icon: "bx:envelope-open",
  },
  {
    title: "Izdevīgi nosacījumi",
    description:
      "Piedāvājumu izsūtīšana pagaidām ir pilnīgi bez maksas.",
    icon: "bx:dollar",
  },
  
];
---

<div class="">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Kas ir Omnis? 
  </h2>
  <p class="text-lg mt-4 max-w-3xl text-slate-900">
    Mūs visus kaitina nelūgtas mēstules un uzbāzīga reklāma, taču neviens arī negribētu palaist garām patiešām labus
    piedāvājumus. <strong>Omnis</strong> ir e-pasta mārketings, kas ciena Tavu privātumu 
     un piedāvā jaunu pārdošanas kanālu pakalpojumu sniedzējiem. Mēs esam <strong>reklāmu kurators</strong> un <strong>klientu-pārdevēju savedējs</strong>.
  </p>
</div>


<div class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Ieguvumi <span class="text-indigo-500">saņēmējiem</span>
  </h2>
  <p class="text-lg mt-4 max-w-3xl text-slate-900">
    Mūs visus kaitina nelūgtas mēstules, taču neviens negrib palaist garām labus
    piedāvājumus. <strong>Omnis</strong> ir e-pasta mārketings, kas ciena piedāvājuma
    saņēmējus.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    receivers.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-900 mt-1 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

<div class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Ieguvumi <span class="text-primary-500">sūtītājiem</span>
  </h2>
  <p class="text-lg mt-4 max-w-3xl text-slate-900">
    Mūs visus kaitina nelūgtas mēstules, taču neviens negrib palaist garām labus
    piedāvājumus. <strong>Omnis</strong> ir e-pasta mārketings, kas ciena piedāvājuma
    saņēmējus.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    givers.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-900 mt-1 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>